SECRET_KEY_DJANGO=your_django_secret_key
FT_CLIENT_ID=your_42_uid_here
FT_CLIENT_SECRET=your_42_secret_here
FT_REDIRECT_URI=https://localhost/auth/callback/
FRONT_URL=https://localhost/
DEBUG=is_in_debug_mode(True of False)

# Database (PostgreSQL)
POSTGRES_DB=transcendence_db
POSTGRES_USER=transcendence_user
POSTGRES_PASSWORD=un_mot_de_passe_solide
POSTGRES_HOST=postgres
POSTGRES_PORT=5432