SECRET_KEY_DJANGO=your_django_secret_key
FT_CLIENT_ID=your_42_uid_here
FT_CLIENT_SECRET=your_42_secret_here
FT_REDIRECT_URI=http://localhost:8000/auth/callback/
FRONT_URL=http://localhost:5173/
DEBUG=is_in_debug_mode(True of False)