@import "color.css";

.ChatModuleHeader {
	display: flex;
	justify-content: start;
	border-start-start-radius: 30px;
	border-start-end-radius: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 3px solid #E6E6E6;
	border-left: 3px solid #E6E6E6;
	border-right: 3px solid #E6E6E6;
	background-color: white;
}

.ChatModule {
	display: flex;
	justify-content: center;
	border-end-end-radius: 30px;
	border-end-start-radius: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 3px solid #E6E6E6;
	background-color: white;
}

.moduleMessage {
	border-end-start-radius: 30px;
	border-end-end-radius: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 15px;
	border: 2px solid #E6E6E6;
	background-color: white;
}

.moduleSenderMessage {
	border-start-start-radius: 30px;
}

.moduleReceiverMessage {
	border-start-end-radius: 30px;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  /* color: #fff; */
  /* font-family: monospace; */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; Adjust as needed */
  animation: 
    typing 2.0s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
